body {
    margin: 0;
    font: menu;
    background: #000;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    opacity: 0;
    position: fixed;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.container.gradient {
    background: radial-gradient(#454545, #1b1b1b);
}

.container .please-scan {
    opacity: 0;
    visibility: hidden;
    margin-top: -50px;
}

.container .please-scan.visible {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.container .please-scan .image {
    height: 400px;
    width: 215px;
    background: url("/static/img/icon.gif");
    background-size: cover;
    margin: 0 auto;
}

.container .please-scan .video {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

.container .please-scan .title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.container .searching {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
}

.container .searching.visible {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.container .product {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 80vh;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 25px black;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.container .product.visible {
    top: 50%;
    opacity: 1;
    transition: 1s ease-in-out all;
}

.container .product .image {
    background: #fff no-repeat center center;
    background-size: contain;
    background-origin: content-box;
    padding: 25px;
    width: 35%;
    height: 80vh;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    box-shadow: 5px 0 40px rgba(0, 0, 0, 0.25);
    float: left;
}

.container .product .logo {
    position: absolute;
    background: white no-repeat center center;
    background-size: 70%;
    width: 18%;
    height: 9vh;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    top: 3%;
    right: 2%;
}

.container .product .title {
    margin-top: 3%;
    margin-left: 3%;
    font-size: 3rem;
    width: 30%;
    font-weight: bold;
    overflow-y: hidden;
    float: left;
}

.container .product .description {
    padding-top: 5%;
    padding-left: 3%;
    font-size: 2rem;
    width: 50%;
    overflow-y: hidden;
    line-height: 2.7rem;
}

.container .product .reference {
    padding-top: 5%;
    padding-left: 3%;
    float: left;
    font-size: 1.5rem;
}
