{% extends 'base/layout.twig' %}

{% block content %}
    <div class="container">
        <div class="please-scan">
            <video class="video" id="welcome-video" src="/static/videos/inovscan-cta.mp4?v=2" autoplay loop></video>
        </div>
    </div>
{% endblock %}
