{% extends 'base/layout.twig' %}

{% block content %}
    <div class="container gradient">
        <div class="product">
            <div class="image" style="background-image: url(/{{ product.img }});"></div>
            <div class="logo" style="background-image: url(/{{ product.brandLogo }});"></div>
            <div class="title">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
        </div>
    </div>
{% endblock%}
