<html lang="FR-fr">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/knacss.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script>
    $(document).ready(() => {
        let keyBuffer = [];

        // Display elements
        $(".please-scan").addClass("visible");
        $(".searching").addClass("visible");
        $(".product").addClass("visible");

        // On key press
        $(document).on('keyup', (event) => {
            // If 'numeric' key, add to key buffer
            if (event.keyCode >= 48 && event.keyCode <= 57)
                keyBuffer.push(event.keyCode - 48)
            // Else if 'Enter' key, show product page
            else if (event.keyCode === 13) {
                // Convert key buffer to string
                let barcode = ''
                for (let i = 0; i < keyBuffer.length; ++i)
                    barcode += keyBuffer[i] + ''

                // Hide element
                $(".please-scan").removeClass("visible")

                // Go to corresponding product page
                setTimeout(() => window.location.assign('/product/' + barcode), 230)

                // Empty key buffer
                keyBuffer = []
            }
        })

        {% if redirect is defined %}
        // Redirection timeout
        setTimeout(() => {
            window.location.assign('{{ redirect.URI }}')
        }, {{ redirect.timeout }})
        {% endif %}
    })
</script>
{% block scripts %}{% endblock %}
</body>
</html>
